<div class="container-1">
    <div class="box-1">
        <label id="blog">Recent Blogs</label> <br>
        <ul id="small-blg">
            <li>
                <p><a href="#">Lorem ipsum dolor sit amet.</a></p>
                April 27, 2016
            </li>
            <hr class="lane">
            <li>
                <p><a href="#">Lorem ipsum dolor sit amet.</a></p>
                April 27, 2016
            </li>
            <hr class="lane">
            <li>
                <p><a href="#">Lorem ipsum dolor sit amet.</a></p>
                April 27, 2016
            </li>
            <hr class="lane">
            <li id="">
                <p><a href="#">Lorem ipsum dolor sit amet.</a></p>
                April 27, 2016
            </li>
        </ul>
    </div>
    <div class="box-2">
        <label id="social">Follow Me</label>
        <ul>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Instagram</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Soundcloud</a></li>
            <li><a href="#">Beatport</a></li>
            <li><a href="#">Youtube</a></li>
        </ul>
    </div>
    <div class="box-3" id="contact">
        <label id="address">Get in touch</label>
        <ul>
            <li><span>Gbeduboss</span></li>
            <li>18, Main Road, 8th Floor, Melbourne,</li>
            <li><a href="tel:++232345788765">+232345788765</a></li>
            <li><a href="tel:++232345788765">+232345788765</a></li>
            <li><a href="mailto:admin@gmail.com">admin@gmail.com</a></li>
        </ul>
    </div>
</div>
<div class="semi-footer text-center pt-3 text-bg-danger">
    <p class="qe pb-3">
        Copyright &copy;2022 All rights reserved | Website made by MooglesMe
    </p>
</div>